/* Write your code here. */
.navBar-container {
  background-color: #9796f0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.main-heading {
  color: white;
  margin-left: 10px;
  font-family: Roboto;
  font-weight: 600;
}
.score-container {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.score-para {
  margin-left: 20px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
